/* Estilos para o contêiner de criação de tarefas */
.create-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Estilos para o cartão de criação de tarefas */
.create-task-card {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  text-align: left;
  width: 350px;
  max-width: 90%;
}

/* Estilos para o título do cartão */
.create-task-card h1 {
  margin-bottom: 20px;
  font-size: 1.65rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #000;
}

/* Estilos para o formulário dentro do cartão */
.create-task-card form {
  display: flex;
  flex-direction: column;
}

/* Estilos para os rótulos dos campos do formulário */
.create-task-card label {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #6b7280;
}

/* Estilos para os campos de entrada e botão */
.create-task-card input,
.create-task-card button,
.create-task-card select {
  margin-top: 5px;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* Estilos para os campos de entrada e select */
.create-task-card input,
.create-task-card select {
  outline: none;
  border: 1px solid #e5e7eb;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para o botão de envio */
.create-task-card button {
  background-color: #4F46E5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}

/* Estilos para o botão de envio ao passar o mouse */
.create-task-card button:hover {
  background-color: #3b38a6;
}

/* Estilos para a mensagem de erro */
.error-message {
  color: red;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 5px;
  background-color: #ffe5e5;
  padding: 10px;
  border: 1px solid #ffcccc;
  border-radius: 0.5rem;
}
